<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The legend of zelda: Tears of the kingdom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <img alt="TlozTotk" src="assets/img/tloztotk.png"/>
    <ion-title>The Legend of Zelda: <br>Tears of the Kingdom</ion-title>
      <br>
      <h4>Nintendo Switch - Un solo jugador</h4>
      <br>
      <div>The Legend of Zelda: Tears of the Kingdom es la secuela del galardonado Breath of the Wild, 
        uno de los títulos más importantes de su generación. <br><br>
        Esta nueva aventura pretende llevarnos a las profundidades de un templo subterráneo, 
        n donde un cadáver momificado de alguna forma toma vida, levantando así el castillo de Hyrule por los cielos. <br><br> 
        Ahora será responsabilidad de Link y Zelda salvar al reino de un mal que se esparce cada vez con más fuerza, 
        aunque nada será tan fácil como suena. En este artículo repasaremos todo lo que se 
        sabe hasta ahora sobre esta esperada secuela.</div>
  </ion-grid>

</ion-content>