<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <ion-item >
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="correo" placeholder="Correo@algo.com"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password" required placeholder="Ingrese contraseña"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button id="open-loading" color="light" expand="block" (click)="PasarDatos()">Entrar</ion-button>
        <ion-loading trigger="open-loading" message="Cargando..." [duration]="1500" spinner="circles"></ion-loading>
        <span class="already">Ya estás registrado?</span>
        <a [routerLink]="['/registration']" class="small-text">Registrarse</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

