<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>aventura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-col>
      <ion-card [routerLink]="['/tloz']">
        <img alt="the legend of zelda" src="assets/img/z.png"/>
        <ion-card-header>
          <ion-card-title position="center">The legend of zelda-Tears of the kingdom</ion-card-title>
        </ion-card-header>
        <ion-card-content ></ion-card-content>
      </ion-card>
    </ion-col>
      
  </ion-grid>

</ion-content>
